{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Учет коммунальных услуг</title>
</head>
<body>
    
    <header>
        <div class="container">
			<img class="logo1" src="{% static 'img/logo2.png' %}">
            <div class="logo2">Kom.yslyg</div>
            <nav>
                <ul>
                    <li><a href="{% url 'home1' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="{% url 'register' %}" class="button1">Вход</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="grid1">
            <article class="grid-item">
                <div class="image">
                    <img src="{% static 'img/elec.jpg' %}" />
                </div>
                <div class="info">
                    <h2>Услуги ЖКХ</h2>
                    <div class="info-text">
                        <p>Оплата услуг ЖКХ, просмотр счет-фактуры, ввод показаний счетчиков.</p>
                    </div>
                    <div class="button-wrap">
                        <a class="atuin-btn" href="{% url 'zkh' %}">Подробнее</a>
                    </div>
                </div>
            </article> 
        </section>
    
        <section class="grid2">
            <article class="grid-item">
                <div class="image">
                    <img src="{% static 'img/voda.jpg' %}" />
                </div>
                <div class="info">
                    <h2>Заплатить за тепло</h2>
                    <div class="info-text">
                        <p>Внесение абонентской платы за тепловую энергию.</p>
                    </div>
                    <div class="button-wrap">
                        <a class="atuin-btn" href="{% url 'teplo' %}">Подробнее</a>
                    </div>
                </div>
            </article>
        </section>
    
        <section class="grid3">
            <article class="grid-item">
                <div class="image">
                    <img src="{% static 'img/gas.jpg' %}" />
                </div>
                <div class="info">
                    <h2>Газоснабжение</h2>
                    <div class="info-text">
                        <p>Оплата услуг по газоснабжению и техобслуживанию</p>
                    </div>
                    <div class="button-wrap">
                        <a class="atuin-btn" href="{% url 'gaz' %}">Подробнее</a>
                    </div>
                </div>
            </article>
        </section>
    
        <section class="grid4">
            <article class="grid-item">
                <div class="image">
                    <img src="{% static 'img/signalka.jpg' %}" />
                </div>
                <div class="info">
                    <h2>Заплатить за сигнализацию</h2>
                    <div class="info-text">
                        <p>Оплата услуги по техническому обслуживанию сигнализации квартиры.</p>
                    </div>
                    <div class="button-wrap">
                        <a class="atuin-btn" href="{% url 'signalka' %}">Подробнее</a>
                    </div>
                </div>
            </article>
        </section>
    
        <section class="grid5">
            <article class="grid-item">
                <div class="image">
                    <img src="{% static 'img/domofon.jpg' %}" />
                </div>
                <div class="info">
                    <h2>Заплатить за домофон</h2>
                    <div class="info-text">
                        <p>Внесение абонентской платы за техническое обслуживание системы домофонов.</p>
                    </div>
                    <div class="button-wrap">
                        <a class="atuin-btn" href="{% url 'domofon' %}">Подробнее</a>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer>
 <div class="footer_text">     
<div class="text">
        <p><a href="#">Оценить качество оказания услуг</a></p>
</div>
<p>Наша почта: lbrtprivet@gmail.com</p>
<p>2024 Kom.yslyg</p>
</div>  
<img class="logo3" src="{% static 'img/logo1.png' %}">
    </footer>

<div class="deck-wrap">
    <div class="deck">
        <div class="card">
            <div class="cardHeader">Отзыв</div>
            <div class="cardBody">
                <p>Удобный сайт!</p>
            </div>
            <div class="cardFooter">Никита</div>        
        </div>
    </div>
    <div class="deck1">
        <div class="card">
            <div class="cardHeader">Отзыв</div>
            <div class="cardBody">
                <p>Цены все растут и растут...</p>
            </div>
            <div class="cardFooter">София</div>        
        </div>
</div>
<div class="deck2">
    <div class="card">
        <div class="cardHeader">Отзыв</div>
        <div class="cardBody">
            <p>Всегда быстро оплачиваю с помощью этого сайта.</p>
        </div>
        <div class="cardFooter">Дмитрий Уткин</div>        
    </div>
 
</body>
</html>